// Driver Portal

// Header
.driver-dashboard-header {
    margin: 2em auto 3.5em;
    .split-panel {
        padding: 1em .75em;
        .inner {
            padding:1.75rem 1em;
        }
    }
}


// Sign In
.sign-in-logo {
    width: 100%;
    height:rem-calc(90);
    background: $white;
    text-align: center;
    img {
        max-width: rem-calc(160);
        display: block;
        margin: 0 auto;
        padding:26px 0;

    }
    margin-bottom: 4em;
}
.sign-in-form {
    padding:0 2.5rem 6.25rem;
    .section-header {
        padding:3.75rem 0 1.5rem;
        .title {
          font-size: 1.125rem;
          color: $orange;
          font-weight: $font-weight-bold;
        }
    }
    .button {
          margin: 2rem 0 0.75rem;
          padding-left: 3rem;
          padding-right: 3rem;
    }
}

// Message
.dashboard-blank-message {
    max-width: 80%;
    margin: 4em auto 6em;
    padding: 4em 10em;
    text-align: center;
    background: $snow;
    border: $silver 1px solid;
}

// Driver Status Switches
.status-switches {

    h3 {margin-top: 0;}
    .switch {
        margin:2px auto 16px;
        float: right;
    }

}