// Utilities
// - - - - - - - -

// Fills
.fill-white {
    background: $white;
}
.fill-snow {
    background: $snow;
}
.fill-cream {
    background: $cream;
}
.fill-cool {
    background: $cool;
}

.color-orange {
    color: $orange !important;
}

// Ghost Center
.ghost-center {position: relative;}
.ghost-content {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


// Colors
.moss-color, .success-color {color: $moss;}
.orange-color, .alert-color {color: $orange;}


// Content Row/Clearfix
.content-row {
    @include clearfix;
}

// Round
.round {
    border-radius:1000px;
}

// Icon in a Button
.button {
    .icon {
        position: relative;
        top:2px;

        &.on-left {margin-right: 4px;}
        &.on-right {margin-left: 4px;}
    }
}

// Nutrition Cards
.card {
    float: left;
    width:25%;
    padding: rem-calc(0 12 0 0) ;

    &:last-child {padding-right: 0;}

    &.single-line {
        .inner {
            transition: background .3s linear;
              a {
                font-size: 13px;
                  text-align: center;
                  display: block;
                  line-height: 102px;
                  color: $brown;
              }

              &:hover {
                background: $sea;
              }
        }
    }

    .inner {
        background: $white;
        padding: rem-calc(4 8 6 8);

        h4 {
            padding: rem-calc(0 0 8 0);
            border-bottom: 1px solid $gainsboro;
            padding: rem-calc(0 0 8 0);
            font-size: rem-calc(36);
        }
        span {
            color: $sea;
            display: block;
            font-size: rem-calc(12);
        }
        @media #{$small-only} {
            h4 {
                font-size: rem-calc(24);
            }
        }
    }
}

// Headsup Detail
.heads-up {
    background: $vapor;
    padding: 1em;
}
table.order-summary {
    width:100%;
}

// Caps
.caps {
    text-transform: uppercase;
    letter-spacing: 0.04em;
}


// Families
.sans {
    font-family: $font-family-sans-serif;
}
.serif {
    font-family: $font-family-serif;
}

// Note
.note, .note a {
  font-size: 0.75rem;
  color: $old-iron;
  display: block;
}

// Split Panel
.split-panel {
    width:50%;
    float:left;
     @media #{$medium-down-upperbound} {
        width:inherit;
        float: none;
    }
}
